<div class="top-wrapper">
    <div class="content-wrapper">
        <div class="gradient-wrapper">
            <canvas #gradient id="gradient" class="gradient"> </canvas>
        </div>
        <div class="content-wrapper">
            <div class="text-wrapper">
                <div class="text blended">
                    <div class="welcome">Welcome, i am</div>
                    <div class="name">Thanos Stamatakis</div>
                    <div class="whoami">A software engineer from Patras, Greece.</div>
                </div>
                <div class="tech-wrapper [@logoAnimation]">
                    <img src="/assets/logos/angular.svg" alt="" />
                    <img src="/assets/logos/nestjs.svg" alt="" />
                    <img src="/assets/logos/react.svg" alt="" />
                    <img src="/assets/logos/socketio.svg" alt="" />
                    <img src="/assets/logos/mongo.svg" alt="" />
                    <img src="/assets/logos/swift.svg" alt="" />
                    <img src="/assets/logos/ionic.svg" alt="" />
                </div>
            </div>

            <img class="desktop" src="/assets/desktop.svg" alt="" />
            <img class="iphone" src="/assets/iphone.svg" alt="" />
        </div>
    </div>
</div>
