<div class="scr-fir table-wrapper" animateOnScroll [useScroll]="false" animationName="fade-in-right">
    <div class="scr-fir row">
        <div class="table-col">
            <div class="title">CI-1024</div>
        </div>
        <div class="table-col">
            <i nz-icon nzSpin nzType="setting" nzTheme="outline"></i>
        </div>
        <div class="table-col">
            <i nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></i>
        </div>
        <div class="table-col">
            <i nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></i>
        </div>
        <div class="table-col">
            <i nz-icon [nzType]="'close-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'"></i>
        </div>
        <div class="table-col">
            <i nz-icon nzType="gitlab" nzTheme="outline" style="color: orange"></i>
        </div>
        <div class="table-col">
            <i nz-icon nzType="code" nzTheme="twotone"></i>
        </div>
        <div class="table-col">
            <nz-skeleton-element nzType="input" style="width: 200px" [nzActive]="true" nzSize="small"></nz-skeleton-element>
        </div>
    </div>
    <div class="scr-fir row">
        <div class="table-col">
            <div class="title">CI-1023</div>
        </div>
        <div class="table-col">
            <i nz-icon [nzType]="'close-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'"></i>
        </div>
        <div class="table-col">
            <i nz-icon [nzType]="'close-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'"></i>
        </div>
        <div class="table-col">
            <i nz-icon [nzType]="'close-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'"></i>
        </div>
        <div class="table-col">
            <i nz-icon [nzType]="'close-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'"></i>
        </div>
        <div class="table-col">
            <i nz-icon nzType="gitlab" nzTheme="outline" style="color: orange"></i>
        </div>
        <div class="table-col">
            <i nz-icon nzType="code" nzTheme="twotone"></i>
        </div>
        <div class="table-col">
            <nz-skeleton-element nzType="input" style="width: 200px" [nzActive]="true" nzSize="small"></nz-skeleton-element>
        </div>
    </div>
    <div class="scr-fir row">
        <div class="table-col">
            <div class="title">CI-1022</div>
        </div>
        <div class="table-col">
            <i nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></i>
        </div>
        <div class="table-col">
            <i nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></i>
        </div>
        <div class="table-col">
            <i nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></i>
        </div>
        <div class="table-col">
            <i nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></i>
        </div>
        <div class="table-col">
            <i nz-icon nzType="gitlab" nzTheme="outline" style="color: orange"></i>
        </div>
        <div class="table-col">
            <i nz-icon nzType="code" nzTheme="twotone"></i>
        </div>
        <div class="table-col">
            <nz-skeleton-element nzType="input" style="width: 200px" [nzActive]="true" nzSize="small"></nz-skeleton-element>
        </div>
    </div>
</div>
