@import 'src/styles.scss';
.card {
    height: 100%;
    background-position: 100% 50% !important;
    background-size: 150% !important;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    box-shadow: var(--shadow-2xl);
    padding: 40px;
    max-width: 100%;

    ::ng-deep {
        h1 {
            color: white;
            padding: 0;
            font-size: 32px;
            font-weight: 500;
            line-height: 1;
        }

        p {
            color: rgba($color: #fff, $alpha: 0.75);
            margin: 0;
            padding: 0;
            font-size: 22px;
            opacity: 0.65;
            font-weight: 300;
            text-align: justify;
        }

        .impress {
            height: 300px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            .ghost-right {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                max-height: 80%;
                height: 100%;
                left: 20%;
                mask-image: linear-gradient(90deg, black 0%, transparent 120%);
            }

            .blueprint {
                height: 1000px;
                left: 10%;
                position: absolute;
                top: -50%;
            }

            .center-image {
                height: 100%;
                margin: auto;
                display: block;
            }

            .phones {
                height: 200%;
                left: -50%;
                position: absolute;
                top: 0;
                mask-image: linear-gradient(180deg, transparent 0%, black 30%);
            }

            .notification {
                background: rgba(255, 255, 255, 0.45);
                backdrop-filter: blur(20px);
                border-radius: 1rem;
                box-shadow: var(--shadow-2xl);
                height: 60%;
            }

            .credit-card {
                max-width: 360px;
                aspect-ratio: 2/1.2;
                background: linear-gradient(45deg, #00b492, #007c60);
                width: 100%;
                border-radius: 1rem;
                box-shadow: var(--shadow-2xl);
                position: relative;
                @include no-drag();
                @include no-select();

                .nums {
                    position: absolute;
                    left: 50%;
                    top: 65%;
                    font-family: monospace;
                    font-size: 18px;
                    letter-spacing: 2px;
                    transform: translate(-50%, -50%);
                    width: max-content;
                    line-height: 1;
                }
                .cardholder {
                    position: absolute;
                    left: 10%;
                    bottom: 10%;
                    font-family: monospace;
                    font-size: 16px;
                    letter-spacing: 2px;
                    width: max-content;
                    text-transform: uppercase;
                    line-height: 1;
                }

                img.chip {
                    position: absolute;
                    top: 30%;
                    left: 10%;
                    background: rgba(0, 0, 0, 0.2);
                    border-radius: 10px;
                    padding: 2px;
                }

                img.visa-logo {
                    position: absolute;
                    height: 10%;
                    bottom: 10%;
                    right: 10%;
                }
                img.nbg {
                    position: absolute;
                    left: 50%;
                    top: 20%;
                    height: 30%;
                    transform: translateX(-50%);
                }
            }
        }
        .technology-wrapper {
            min-height: 300px;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: center;

            .decoration {
                position: absolute;
                width: 180px;
                height: 180px;
                border-radius: 50%;
                filter: blur(50px);

                &.primary {
                    background-color: #48b3ff;
                    animation: scale 10500ms ease-in-out 0ms infinite forwards;
                }

                &.secondary {
                    background-color: #b7ffd1a9;
                    width: 85px;
                    height: 85px;
                    filter: blur(10px);
                    opacity: 0.45;
                    top: 30%;
                    left: 30%;
                    animation: scale 10500ms ease-in-out 1500ms infinite forwards;
                }

                &.tertiary {
                    position: absolute;
                    background-color: #a9cc49;
                    width: 125px;
                    height: 125px;
                    border-radius: 50%;
                    filter: blur(35px);
                    opacity: 0.75;
                    bottom: 10%;
                    right: 30%;
                    animation: scale 10500ms ease-in-out 1500ms infinite forwards;
                }
            }

            img {
                max-height: 120px;
                background-color: rgba($color: #fff, $alpha: 0.15);
                border: 3px solid rgba($color: #fff, $alpha: 0.35);
                box-shadow: var(--shadow-2xl);
                backdrop-filter: blur(20px);
                border-radius: 50%;
                margin: -10px;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .card {
        padding: 40px 20px;
        ::ng-deep {
            p {
                text-align: left;
            }
        }
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    65% {
        transform: scale(1.23);
    }
    100% {
        transform: scale(1);
    }
}
