@import 'src/styles.scss';

.project-description-wrapper {
    --primary: rgba(0, 0, 0, 0);
    --secondary: rgba(0, 0, 0, 0);
    position: relative;

    &::before {
        width: 5px;
        height: 120%;
        top: -10%;
        content: '';
        position: absolute;
        left: -20px;
        background: linear-gradient(white 0%, var(--primary) 20%, var(--secondary) 80%, white 100%);
    }

    .title-wrapper {
        display: flex;
        flex-direction: row;
        margin-bottom: 40px;
        align-items: center;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            left: -27px;
            width: 20px;
            height: 20px;
            top: calc(50% - 7.5px);
            border-radius: 50%;
            background: var(--primary);
            box-shadow: var(--shadow-md);
        }

        img.side-logo {
            height: 80px;
            width: 80px;
            background: white;
            border-radius: 18px;
            box-shadow: var(--shadow-xl);
            padding: 10px;
        }

        .title-timeframe-col {
            display: block;
            margin-left: 10px;
            .title {
                font-size: 45px;
                font-weight: bold;
                line-height: 1;
                margin-bottom: 10px;
                position: relative;
            }

            img.top-logo {
                @include no-drag;
                height: 32px;
                margin-bottom: 10px;
            }

            @media screen and (max-width: 700px) {
                .title {
                    font-size: 38px;
                }
            }
            .timeframe {
                letter-spacing: 1px;
                font-size: 26px;
                line-height: 1;
                opacity: 0.65;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 16px;
            }
        }
    }

    ::ng-deep {
        .section {
            font-size: 22px;
            margin-bottom: 1em;

            &.buttons {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;

                a {
                    text-decoration: none;
                    color: #fff;
                    background: linear-gradient(45deg, var(--primary), var(--secondary));
                    background-size: 200%;
                    padding: 10px 20px;
                    border-radius: 0.25rem;
                    box-shadow: var(--shadow-lg);
                    transition: 300ms ease-in-out;
                    margin: 10px;
                    font-size: 18px;

                    @media screen and (max-width: 600px) {
                        font-size: 15px;
                    }

                    &:hover {
                        cursor: pointer;
                        background-position: 80% 50%;
                        box-shadow: var(--shadow-2xl);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .project-description-wrapper {
        &::before {
            display: none;
        }

        .title-wrapper {
            display: flex;
            flex-direction: row;
            margin-bottom: 40px;
            align-items: center;
            position: relative;

            &::before {
                display: none;
            }

            img {
                // height: 60px;
            }

            .title-timeframe-col {
                .title {
                }

                .timeframe {
                    // font-size: 12px;
                }
            }
        }
    }
}
