<div isInView isInViewClass="fade-up" class="scr project-description-wrapper" [attr.style]="sanitizer.bypassSecurityTrustStyle(styleString)">
    <div class="scr title-wrapper">
        <img *ngIf="logoSide" class="scr side-logo" [src]="logo" />
        <div class="scr title-timeframe-col">
            <img *ngIf="!logoSide" class="scr top-logo" [src]="logo" />
            <div *ngIf="logoSide" class="scr title">{{ name }}</div>
            <div class="scr timeframe">{{ timeframe }}</div>
        </div>
    </div>
    <ng-content select="[description]"></ng-content>
</div>
