<div class="scr-fir people-wrapper" isInView isInViewClass="fade-in-right">
    <div class="scr-fir decoration"></div>
    <div class="scr-fir decoration second"></div>
    <div class="scr-fir user-wrapper">
        <div class="scr-fir user">
            <i nz-icon nzType="user" nzTheme="outline"></i>
        </div>
        <img class="scr-fir" src="/assets/logos/angular.svg" alt="" />
        <img class="scr-fir" src="/assets/logos/ionic.svg" alt="" />
        <img class="scr-fir" src="/assets/logos/swift.svg" alt="" />
        <img class="scr-fir" src="/assets/logos/nestjs.svg" alt="" />
    </div>
</div>
