<div class="wrapper">
    <div class="scr section-title" isInView isInViewClass="fade-up">Personal projects</div>
    <!-- Brightness Control -->
    <div class="experience-wrapper brightness">
        <project-description
            logo="/assets/personal/brightness.svg"
            name="Brightness control"
            timeframe="Nov 2021 - Present"
            primaryColor="var(--gradient-color-1)"
            secondaryColor="var(--gradient-color-3)"
        >
            <div description>
                <div class="scr section">
                    Brightness control is a native macOS status bar application that listens for the F1 & F2 keys and changes brightness for external monitors
                    utilizing the DDC/CI protocol. It was my first attempt to create a native macOS app and i had to learn how to use XCode as well as Swift and
                    SwiftUI.
                </div>
                <div class="scr section">
                    Brightness control also displays the native macOS huds that appear when changing the brightness on a Macbook or iMac to make the experience
                    feel more authentic.
                </div>
                <div class="scr section buttons">
                    <a class="scr" target="blank" href="https://github.com/thanosstamatakis/brightness-control-macos"
                        ><i nz-icon nzType="github" nzTheme="outline"></i> Find it on Git</a
                    >
                </div>
            </div>
        </project-description>
    </div>

    <project-gallery projectName="brightness" blobPrimary="#96B9FF" blobSecondary="#416BAA" blobTertiary="#6C91D4" [images]="projects?.brightness?.images">
        <div title class="scr gallery-title" isInView isInViewClass="fade-up">Project gallery</div>
    </project-gallery>

    <!-- Brightness Control Details -->
    <div class="projects">
        <div class="scr section-title-sm" isInView isInViewClass="fade-up">Project overview</div>
        <div class="project-overview">
            <project-card primary="var(--gradient-color-1)" secondary="var(--gradient-color-3)">
                <h1 title>Native UI</h1>
                <p content>
                    It was an extremely important goal to make the user interface feel native to macOS when building brightness control. This was made easy with
                    the use of SwiftUI and the excellent development experience in XCode.
                </p>
                <img image class="ghost-right" src="/assets/personal/brightness-design.png" alt="" />
            </project-card>
            <project-card
                primary="var(--gradient-color-1)"
                secondary="var(--gradient-color-3)"
                [technologies]="['swift']"
                bubblePrimary="#faad14"
                bubbleTertiary="#ff7875"
            >
                <h1 class="scr" title>Native Performance</h1>
                <p class="scr" content>
                    The fact that brightness control is made with Swift and utilizes native macOS frameworks and rendering means that it is extremely
                    performant. Just 17.8Mb of RAM and 0% CPU on idle.
                </p>
            </project-card>
        </div>
    </div>

    <!-- covidTracker -->
    <div class="experience-wrapper covid">
        <project-description
            logo="/assets/personal/covid-tracker.svg"
            name="covidTracker"
            timeframe="APR 2020 - MAY 2020"
            primaryColor="var(--covid-color)"
            secondaryColor="var(--covid-color-secondary)"
        >
            <div description>
                <div class="scr section">
                    We created covidTracker in 2019 when covid cases where rising in Greece in hopes that we could help isolate outbursts of covid-19.
                    Covidtracker was a mobile application created with React Native, that allowed users to track their activity and notified them when they had
                    come in contact with a confirmed covid case.
                </div>
                <div class="scr section">
                    The app initially gained a lot of interest from mainstream media and political figures but unfortunately it was discarded due to
                    bureaucratic reasons as well as the Greek citizens distrust towards the government regarding data collection.
                </div>
                <div class="scr section buttons">
                    <a class="scr" target="blank" href="https://covid.bitleaf.gr/"><i nz-icon nzType="link" nzTheme="outline"></i> Website</a>
                </div>
            </div>
        </project-description>
    </div>
    <!-- covidTracker Gallery -->
    <project-gallery projectName="covid" blobPrimary="#61AABA" blobSecondary="#1C6E7D" blobTertiary="#A1EAFA" [images]="projects?.covidtracker?.images">
        <div title class="scr gallery-title" isInView isInViewClass="fade-up">Project gallery</div>
    </project-gallery>
    <!-- covidTracker Details -->
    <div class="projects covid">
        <div class="scr section-title-sm" isInView isInViewClass="fade-up">Project overview</div>
        <div class="project-overview">
            <project-card primary="var(--covid-color)" secondary="var(--covid-color-secondary)">
                <h1 title>UI/UX design</h1>
                <p content>
                    I was responsible for designing all the views and animations for the covid tracker application, as well as ensuring ease of use. I also
                    added screens with quick actions such as calling the health department or getting real time statistics for the pandemic status in the
                    country.
                </p>
                <img image class="phones" src="/assets/personal/covid-design.png" alt="" />
            </project-card>
            <project-card
                primary="var(--covid-color)"
                secondary="var(--covid-color-secondary)"
                [technologies]="['react', 'redux']"
                bubblePrimary="#7AC0CC"
                bubbleSecondary="#D2E07E"
                bubbleTertiary="#ECF2CB"
            >
                <h1 class="scr" title>iOS/Android app</h1>
                <p class="scr" content>
                    We created the covidTracker mobile app using React Native and Redux for state management. As we intended for lots of people with different
                    kinds of phones to use the app, we decided to use React Native for better performance.
                </p>
            </project-card>
        </div>
    </div>
</div>
