<div class="wrapper">
    <div class="scr section-title" isInView isInViewClass="fade-up">Personal projects</div>
    <!-- Brightness Control -->
    <div class="experience-wrapper brightness">
        <project-description
            logo="/assets/personal/brightness.svg"
            name="Brightness control"
            timeframe="Nov 2021 - Present"
            primaryColor="var(--gradient-color-1)"
            secondaryColor="var(--gradient-color-3)"
        >
            <div description>
                <div class="scr section">
                    Brightness control is a native macOS status bar application that listens for the F1 & F2 keys and changes brightness for external monitors
                    utilizing the DDC/CI protocol. It was my first attempt to create a native macOS app and i had to learn how to use XCode as well as Swift and
                    SwiftUI.
                </div>
                <div class="scr section">
                    Brightness control also displays the native macOS huds that appear when changing the brightness on a Macbook or iMac to make the experience
                    feel more authentic.
                </div>
                <div class="scr section buttons">
                    <a class="scr" target="blank" href="https://github.com/thanosstamatakis/brightness-control-macos"
                        ><i nz-icon nzType="github" nzTheme="outline"></i> Find it on Git</a
                    >
                </div>
            </div>
        </project-description>
    </div>

    <project-gallery projectName="brightness" blobPrimary="#96B9FF" blobSecondary="#416BAA" blobTertiary="#6C91D4" [images]="projects?.brightness?.images">
        <div title class="scr gallery-title" isInView isInViewClass="fade-up">Project gallery</div>
    </project-gallery>

    <!-- Brightness Control Details -->
    <div class="projects">
        <div class="scr section-title-sm" isInView isInViewClass="fade-up">Project overview</div>
        <div class="project-overview">
            <project-card primary="var(--gradient-color-1)" secondary="var(--gradient-color-3)">
                <h1 title>Native UI</h1>
                <p content>
                    It was an extremely important goal to make the user interface feel native to macOS when building brightness control. This was made easy with
                    the use of SwiftUI and the excellent development experience in XCode.
                </p>
                <img image class="ghost-right" src="/assets/personal/brightness-design.png" alt="" />
            </project-card>
            <project-card
                primary="var(--gradient-color-1)"
                secondary="var(--gradient-color-3)"
                [technologies]="['swift']"
                bubblePrimary="#faad14"
                bubbleTertiary="#ff7875"
            >
                <h1 class="scr" title>Native Performance</h1>
                <p class="scr" content>
                    The fact that brightness control is made with Swift and utilizes native macOS frameworks and rendering means that it is extremely
                    performant. Just 17.8Mb of RAM and 0% CPU on idle.
                </p>
            </project-card>
        </div>
    </div>

    <!-- Drasys -->
    <div class="experience-wrapper drasys">
        <project-description
            logo="/assets/personal/drasys.svg"
            name="Drasys bio"
            timeframe="SEP 2020 - PRESENT"
            primaryColor="var(--drasys-color)"
            secondaryColor="var(--drasys-color-secondary)"
        >
            <div description>
                <div class="scr section">
                    Drasys bio is a startup from Patras, Greece that is involved in constructing bioreactors with innovative architectures as well as a state of
                    the art software solution to control multiple bioreactors and their subdevices (pumps, sensors, thermals etc.)
                </div>
                <div class="scr section">
                    My team and i had to come up with a solution to abstractify the control process and make the development process more accessible for web
                    developers.
                </div>
                <div class="scr section buttons">
                    <a class="scr" target="blank" href="https://drasysbio.com/"><i nz-icon nzType="link" nzTheme="outline"></i> Drasys bio website</a>
                </div>
            </div>
        </project-description>
    </div>

    <!-- Drasys Gallery -->
    <project-gallery projectName="drasys" blobPrimary="#82DAA3" blobTertiary="#278251" blobSecondary="#56AD79" [images]="projects?.drasys?.images">
        <div title class="scr gallery-title" isInView isInViewClass="fade-up">Project gallery</div>
    </project-gallery>

    <!-- Drasys Details -->
    <div class="projects">
        <div class="scr section-title-sm" isInView isInViewClass="fade-up">Project overview</div>
        <div class="project-overview">
            <project-card primary="var(--drasys-color)" secondary="var(--drasys-color-secondary)">
                <h1 title>UI/UX design</h1>
                <p content>
                    I was responsible for designing all the views for the Drasys bio desktop application, as well as ensuring consistency between views in each
                    platform while preserving native features. In addition i was responsible for rendering various assets in Blender to make the app more
                    interactive.
                </p>
                <img image class="blueprint" src="/assets/personal/drasys-design.svg" alt="" />
            </project-card>
            <project-card
                primary="var(--drasys-color)"
                secondary="var(--drasys-color-secondary)"
                [technologies]="['angular', 'socketio', 'electron']"
                bubblePrimary="#9F8AC2"
                bubbleSecondary="#9D77D9"
                bubbleTertiary="#63F29A"
            >
                <h1 class="scr" title>Frontend development</h1>
                <p class="scr" content>
                    We created the Drasys bio desktop app using Electron, Angular and Vue.js (for some smaller components). We also used web sockets to make the
                    data connection between hardware devices and any connected client real time.
                </p>
            </project-card>
            <project-card primary="var(--drasys-color)" secondary="var(--drasys-color-secondary)">
                <h1 class="scr" title>From hardware to the web</h1>
                <p class="scr" content>
                    Controlling the bioreactor environment is impossible without considering the hardware component. By using a backend server that communicates
                    via mqtt with a RS485 master device we can essentially convert our bioreactors to cloud based bioreactors.
                </p>
                <img class="center-image" src="/assets/personal/deth-2.png" image />
            </project-card>
            <project-card primary="var(--drasys-color)" secondary="var(--drasys-color-secondary)">
                <h1 class="scr" title>Sensor calibration</h1>
                <p class="scr" content>To make the system as easy to use as possible we baked a sensor calibration workflow inside the desktop client.</p>
                <img class="center-image" src="/assets/personal/sensor.png" image />
            </project-card>
        </div>
    </div>

    <!-- GymQ -->
    <div class="experience-wrapper gymq">
        <project-description
            logo="/assets/personal/gymq.svg"
            name="GymQ"
            timeframe="JUN 2020 - PRESENT"
            primaryColor="var(--gymq-color)"
            secondaryColor="var(--gymq-color-secondary)"
        >
            <div description>
                <div class="scr section">
                    GymQ is an all in one client management/engagement solution for gym owners, giving them the ability to interact with their customers. It
                    provides messaging (email, SMS) functionality, a flexible online booking system to address crowding issues in gyms during the pandemic. It
                    also provides a powerful payment system with the ability to log physical payments or accept online payments using the Stripe Connect API.
                </div>
                <div class="scr section">Currently only for greek gyms</div>
                <div class="scr section buttons">
                    <a class="scr" target="blank" href="https://gymq.gr"><i nz-icon nzType="link" nzTheme="outline"></i>Website</a>
                    <a class="scr" target="blank" href="https://app.gymq.gr"><i nz-icon nzType="link" nzTheme="outline"></i>Web App</a>
                </div>
            </div>
        </project-description>
    </div>

    <!-- GymQ Gallery -->
    <project-gallery projectName="gymq" blobPrimary="#FFD686" blobSecondary="#FFC89C" blobTertiary="#FFC2B2" [images]="projects?.gymq?.images">
        <div title class="scr gallery-title" isInView isInViewClass="fade-up">Project gallery</div>
    </project-gallery>

    <!-- GymQ Details -->
    <div class="projects">
        <div class="section-title-sm" isInView isInViewClass="fade-up">Project overview</div>
        <div class="project-overview">
            <project-card primary="var(--gymq-color)" secondary="var(--gymq-color-secondary)">
                <h1 class="scr" title>UI/UX design</h1>
                <p class="scr" content>
                    I was responsible for designing all the views for the GymQ web application, as well as ensuring ease of use for less technichaly inclined
                    users. In addition i designed the GymQ promotional website and the mobile application for iOS and Android.
                </p>
                <img image class="blueprint" src="/assets/personal/gymq-design.svg" alt="" />
            </project-card>
            <project-card
                primary="var(--gymq-color)"
                secondary="var(--gymq-color-secondary)"
                [technologies]="['angular', 'ionic']"
                bubblePrimary="#B2E4DB"
                bubbleSecondary="#B0C6CE"
            >
                <h1 class="scr" title>Frontend development</h1>
                <p class="scr" content>
                    We created the GymQ web app using the Angular framework. By using Angular and writting maintainable components and services we could
                    transfer all existing work from the web to mobile platforms using Ionic in just one week.
                </p>
                <sophia-skills class="center-image" image></sophia-skills>
            </project-card>
            <project-card primary="var(--gymq-color)" secondary="var(--gymq-color-secondary)">
                <h1 class="scr" title>Payment system</h1>
                <p class="scr" content>
                    Our goal with the GymQ payment system was to create a seamless way for gym owners to log and accept either physical or digital payments as
                    well as blocking or allowing specific gym features for members who purchased different packages.
                </p>
                <div class="credit-card" image>
                    <img class="chip" src="/assets/credit-cards/chip.svg" alt="" />
                    <div class="nums">1111 2222 3333 4444</div>
                    <img src="/assets/credit-cards/visa.svg" alt="" class="visa-logo" />
                    <img src="/assets/credit-cards/nbg.svg" alt="" class="nbg" />
                    <div class="cardholder">cardholder n.</div>
                </div>
            </project-card>
            <project-card primary="var(--gymq-color)" secondary="var(--gymq-color-secondary)">
                <h1 class="scr" title>Message queues</h1>
                <p class="scr" content>
                    To ensure scalability for the app we used a seperate messaging instance with a queue architecture to ensure that the system can handle a
                    large amount of sms and email notifications.
                </p>
                <img image src="/assets/personal/notification.svg" class="ghost-right notification" alt="" />
            </project-card>
        </div>
    </div>

    <!-- covidTracker -->
    <div class="experience-wrapper covid">
        <project-description
            logo="/assets/personal/covid-tracker.svg"
            name="covidTracker"
            timeframe="APR 2020 - MAY 2020"
            primaryColor="var(--covid-color)"
            secondaryColor="var(--covid-color-secondary)"
        >
            <div description>
                <div class="scr section">
                    We created covidTracker in 2019 when covid cases where rising in Greece in hopes that we could help isolate outbursts of covid-19.
                    Covidtracker was a mobile application created with React Native, that allowed users to track their activity and notified them when they had
                    come in contact with a confirmed covid case.
                </div>
                <div class="scr section">
                    The app initially gained a lot of interest from mainstream media and political figures but unfortunately it was discarded due to
                    bureaucratic reasons as well as the Greek citizens distrust towards the government regarding data collection.
                </div>
                <div class="scr section buttons">
                    <a class="scr" target="blank" href="https://covid.bitleaf.gr/"><i nz-icon nzType="link" nzTheme="outline"></i> Website</a>
                </div>
            </div>
        </project-description>
    </div>
    <!-- covidTracker Gallery -->
    <project-gallery projectName="covid" blobPrimary="#61AABA" blobSecondary="#1C6E7D" blobTertiary="#A1EAFA" [images]="projects?.covidtracker?.images">
        <div title class="scr gallery-title" isInView isInViewClass="fade-up">Project gallery</div>
    </project-gallery>
    <!-- covidTracker Details -->
    <div class="projects covid">
        <div class="scr section-title-sm" isInView isInViewClass="fade-up">Project overview</div>
        <div class="project-overview">
            <project-card primary="var(--covid-color)" secondary="var(--covid-color-secondary)">
                <h1 title>UI/UX design</h1>
                <p content>
                    I was responsible for designing all the views and animations for the covid tracker application, as well as ensuring ease of use. I also
                    added screens with quick actions such as calling the health department or getting real time statistics for the pandemic status in the
                    country.
                </p>
                <img image class="phones" src="/assets/personal/covid-design.png" alt="" />
            </project-card>
            <project-card
                primary="var(--covid-color)"
                secondary="var(--covid-color-secondary)"
                [technologies]="['react', 'redux']"
                bubblePrimary="#7AC0CC"
                bubbleSecondary="#D2E07E"
                bubbleTertiary="#ECF2CB"
            >
                <h1 class="scr" title>iOS/Android app</h1>
                <p class="scr" content>
                    We created the covidTracker mobile app using React Native and Redux for state management. As we intended for lots of people with different
                    kinds of phones to use the app, we decided to use React Native for better performance.
                </p>
            </project-card>
        </div>
    </div>
</div>
