@import 'src/styles.scss';
// var(--primary): black;
// var(--secondary): white;

.wrapper {
    max-width: 1200px;
    display: block;
    margin: auto;
    padding: 200px 20px;

    .section-title {
        font-size: 75px;
        font-weight: bold;
        margin-bottom: 120px;
        line-height: 1;
    }

    .experience-wrapper {
        &.gymq {
            --primary: var(--gymq-color);
            --secondary: var(--gymq-color-secondary);
        }

        &.drasys {
            --primary: var(--drasys-color);
            --secondary: var(--drasys-color-secondary);

            .experience .title-wrapper {
                img {
                    border-radius: 0.5rem;
                    padding: 10px;
                }
            }
        }

        &.covid {
            --primary: #4bbc8e;
            --secondary: #9bde7e;

            .experience .title-wrapper {
                img {
                    border-radius: 0.5rem;
                    padding: 10px;
                }
            }
        }

        &.brightness {
            --primary: var(--gradient-color-1);
            --secondary: var(--gradient-color-3);

            .experience .title-wrapper {
                img {
                    padding: 5px;
                }
            }
        }

        margin-left: 20px;
        .experience {
            position: relative;

            &::before {
                width: 5px;
                height: 120%;
                top: -10%;
                content: '';
                position: absolute;
                left: -20px;
                background: linear-gradient(white 0%, var(--primary) 20%, var(--secondary) 80%, white 100%);
            }
            .title-wrapper {
                display: flex;
                flex-direction: row;
                margin-bottom: 40px;
                align-items: center;
                position: relative;

                &::before {
                    position: absolute;
                    content: '';
                    left: -27px;
                    width: 20px;
                    height: 20px;
                    top: calc(50% - 7.5px);
                    border-radius: 50%;
                    background: var(--primary);
                    box-shadow: var(--shadow-md);
                }

                img {
                    height: 80px;
                    background: white;
                    border-radius: 50%;
                    box-shadow: var(--shadow-lg);
                    padding: 5px;
                }

                .title-timeframe-col {
                    display: block;
                    margin-left: 10px;
                    .title {
                        font-size: 45px;
                        font-weight: bold;
                        line-height: 1;
                        margin-bottom: 10px;
                        position: relative;

                        img {
                            @include no-drag;
                            height: 32px;
                        }
                    }
                    .timeframe {
                        letter-spacing: 1px;
                        font-size: 26px;
                        line-height: 1;
                        opacity: 0.65;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        font-size: 16px;
                    }
                }
            }

            .description {
                font-size: 22px;

                .section {
                    margin-bottom: 1em;
                }
            }
        }
    }

    .projects {
        margin-bottom: 200px;

        &.gymq {
            --primary: var(--gymq-color);
            --secondary: var(--gymq-color-secondary);
        }

        &.drasys {
            --primary: var(--drasys-color);
            --secondary: var(--drasys-color-secondary);
        }

        &.covid {
            --primary: var(--covid-color);
            --secondary: var(--covid-color-secondary);

            .project-wrapper .project .static-impress img.design {
                height: 200%;
                left: -50%;
                position: absolute;
                top: 0;
                -webkit-mask-image: linear-gradient(180deg, transparent 0%, black 30%);
            }
        }

        &.brightness {
            --primary: var(--gradient-color-1);
            --secondary: var(--gradient-color-3);
        }

        .section-title-sm {
            font-size: 45px;
            line-height: 1;
            margin-top: 120px;
            margin-bottom: 40px;
        }

        .project-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .project {
                flex: 1;
                margin: 0px 20px;
                margin-bottom: 40px;
                min-width: 260px;
                border-radius: 0.5rem;
                position: relative;
                overflow: hidden;
                box-shadow: var(--shadow-2xl);
                background: linear-gradient(135deg, var(--secondary), var(--primary));
                background-position: 0% 0%;
                padding: 40px;
                color: white;
                flex-basis: calc(50% - 40px);
                background-position: 100% 50%;
                background-size: 150%;

                &:first-of-type {
                    margin-left: 0;
                }

                &:nth-of-type(even) {
                    margin-right: 0;
                }

                &:nth-of-type(odd) {
                    margin-left: 0;
                }

                &:last-of-type {
                    margin-right: 0;
                }

                .title {
                    font-size: 32px;
                    font-weight: 500;
                }
                .description {
                    font-size: 22px;
                    opacity: 0.65;
                    font-weight: 300;
                    text-align: justify;
                }
            }
        }

        .static-impress {
            height: 300px;
            position: relative;

            &.drasys-hardware {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    height: 100%;
                }
            }

            &.drasys-frontend {
                display: flex;
                justify-content: center;
                align-items: flex-end;

                .decoration {
                    position: absolute;
                    background-color: #48b3ff;
                    width: 180px;
                    height: 180px;
                    border-radius: 50%;
                    filter: blur(50px);
                    animation: scale 10500ms ease-in-out 0ms infinite forwards;

                    &.secondary {
                        background-color: #b7ffd1a9;
                        width: 85px;
                        height: 85px;
                        filter: blur(10px);
                        opacity: 0.45;
                        top: 30%;
                        left: 30%;
                        animation: scale 10500ms ease-in-out 1500ms infinite forwards;
                    }

                    &.tertiary {
                        position: absolute;
                        background-color: #a9cc49;
                        width: 125px;
                        height: 125px;
                        border-radius: 50%;
                        filter: blur(15px);
                        opacity: 0.75;
                        bottom: 0%;
                        right: 20%;
                        animation: scale 10500ms ease-in-out 1500ms infinite forwards;
                    }
                }

                @keyframes scale {
                    0% {
                        transform: scale(1);
                    }
                    65% {
                        transform: scale(1.23);
                    }
                    100% {
                        transform: scale(1);
                    }
                }

                img {
                    height: 150px;
                    backdrop-filter: blur(20px);
                    box-shadow: var(--shadow-xl);
                    border-radius: 50%;
                    border: 4px solid rgba(255, 255, 255, 0.35);
                    &:not(:first-of-type) {
                        margin-left: -12%;
                    }
                }
            }

            &.drasys-sensor {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                margin-top: 130px;

                img {
                    height: 100%;
                }
            }

            &.gymq-pay {
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }

            &.brightness-design {
                img {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 80%;
                    left: 20%;
                    mask-image: linear-gradient(90deg, black 0%, transparent 120%);
                }
            }

            &.brightness-perf {
                .decoration {
                    background-color: #faad14;

                    &.tertiary {
                        background-color: #ff7875;
                    }
                }
            }

            .credit-card {
                max-width: 360px;
                aspect-ratio: 2/1.2;
                background: linear-gradient(45deg, #00b492, #007c60);
                width: 100%;
                border-radius: 1rem;
                box-shadow: var(--shadow-2xl);
                position: relative;
                @include no-drag();
                @include no-select();

                .nums {
                    position: absolute;
                    left: 50%;
                    top: 65%;
                    font-family: monospace;
                    font-size: 18px;
                    letter-spacing: 2px;
                    transform: translate(-50%, -50%);
                    width: max-content;
                    line-height: 1;
                }
                .cardholder {
                    position: absolute;
                    left: 10%;
                    bottom: 10%;
                    font-family: monospace;
                    font-size: 16px;
                    letter-spacing: 2px;
                    width: max-content;
                    text-transform: uppercase;
                    line-height: 1;
                }

                img.chip {
                    position: absolute;
                    top: 30%;
                    left: 10%;
                    background: rgba(0, 0, 0, 0.2);
                    border-radius: 10px;
                    padding: 2px;
                }

                img.visa-logo {
                    position: absolute;
                    height: 10%;
                    bottom: 10%;
                    right: 10%;
                }
                img.nbg {
                    position: absolute;
                    left: 50%;
                    top: 20%;
                    height: 30%;
                    transform: translateX(-50%);
                }
            }

            &.gymq-design {
                img {
                    height: 1000px;
                    left: 10%;
                    position: absolute;
                    top: -50%;
                }
            }

            &.gymq-messages {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    background: rgba(255, 255, 255, 0.45);
                    backdrop-filter: blur(20px);
                    border-radius: 0.5rem;
                    box-shadow: var(--shadow-xl);
                }
            }
            &.gymq-frontend {
                display: flex;
                justify-content: space-around;
                align-items: flex-end;

                .decoration {
                    width: 250px;
                    height: 250px;
                    position: absolute;
                    background: #f13c5c;
                    border-radius: 50%;
                    filter: blur(32px);
                    opacity: 0.75;
                    right: -30%;
                    bottom: -30%;

                    &.animate {
                        animation: move 5s 1 ease-in-out;
                    }
                    &.secondary {
                        background: var(--gradient-color-4);
                        filter: blur(30 px);
                        width: 133px;
                        height: 133px;
                        transform: translate(-45%, -100%);
                    }

                    @keyframes move {
                        from {
                            right: 40%;
                            bottom: 10%;
                        }
                        to {
                            right: -30%;
                            bottom: -30%;
                        }
                    }
                }

                img {
                    height: 150px;
                    backdrop-filter: blur(20px);
                    box-shadow: var(--shadow-xl);
                    border-radius: 50%;
                }
            }
        }

        .impress-section {
            min-height: 300px;

            * {
                display: block;
                position: absolute;
                bottom: 150px;
                transform: translateY(50%);
                left: 20%;
                mask-image: linear-gradient(90deg, #fff 0%, transparent 90%);
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .wrapper {
        padding: 120px 20px;

        .section-title {
            font-size: 65px;
            margin-bottom: 120px;
        }

        .experience-wrapper {
            margin-left: 0px;
            .experience {
                &::before {
                    display: none;
                }

                .title-wrapper {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 40px;
                    align-items: center;
                    position: relative;

                    &::before {
                        display: none;
                    }

                    img {
                        // height: 60px;
                    }

                    .title-timeframe-col {
                        .title {
                        }

                        .timeframe {
                            // font-size: 12px;
                        }
                    }
                }
            }
        }

        .projects {
            .section-title-sm {
            }

            .project-wrapper {
                .project {
                    padding: 40px 20px;
                    text-align: left;
                    margin: 0;
                    margin-bottom: 20px;
                    .description {
                        text-align: left;
                    }
                }
            }
        }
    }
}
