@import 'src/styles.scss';

.wrapper {
    max-width: 1200px;
    display: block;
    margin: auto;
    padding: 200px 20px;

    .section-title {
        font-size: 75px;
        font-weight: bold;
        margin-bottom: 120px;
        line-height: 1;
    }

    .experience-wrapper {
        &.gymq {
            --primary: var(--gymq-color);
            --secondary: var(--gymq-color-secondary);
        }

        &.drasys {
            --primary: var(--drasys-color);
            --secondary: var(--drasys-color-secondary);

            .experience .title-wrapper {
                img {
                    border-radius: 0.5rem;
                    padding: 10px;
                }
            }
        }

        &.covid {
            --primary: #4bbc8e;
            --secondary: #9bde7e;

            .experience .title-wrapper {
                img {
                    border-radius: 0.5rem;
                    padding: 10px;
                }
            }
        }

        &.brightness {
            --primary: var(--gradient-color-1);
            --secondary: var(--gradient-color-3);

            .experience .title-wrapper {
                img {
                    padding: 5px;
                }
            }
        }

        margin-left: 20px;
        .experience {
            position: relative;

            &::before {
                width: 5px;
                height: 120%;
                top: -10%;
                content: '';
                position: absolute;
                left: -20px;
                background: linear-gradient(white 0%, var(--primary) 20%, var(--secondary) 80%, white 100%);
            }
            .title-wrapper {
                display: flex;
                flex-direction: row;
                margin-bottom: 40px;
                align-items: center;
                position: relative;

                &::before {
                    position: absolute;
                    content: '';
                    left: -27px;
                    width: 20px;
                    height: 20px;
                    top: calc(50% - 7.5px);
                    border-radius: 50%;
                    background: var(--primary);
                    box-shadow: var(--shadow-md);
                }

                img {
                    height: 80px;
                    background: white;
                    border-radius: 50%;
                    box-shadow: var(--shadow-lg);
                    padding: 5px;
                }

                .title-timeframe-col {
                    display: block;
                    margin-left: 10px;
                    .title {
                        font-size: 45px;
                        font-weight: bold;
                        line-height: 1;
                        margin-bottom: 10px;
                        position: relative;

                        img {
                            @include no-drag;
                            height: 32px;
                        }
                    }

                    @media screen and (max-width: 700px) {
                        .title {
                            font-size: 38px;
                        }
                    }
                    .timeframe {
                        letter-spacing: 1px;
                        font-size: 26px;
                        line-height: 1;
                        opacity: 0.65;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        font-size: 16px;
                    }
                }
            }

            .description {
                font-size: 22px;

                .section {
                    margin-bottom: 1em;
                }
            }
        }
    }

    .projects {
        margin-bottom: 200px;

        .project-overview {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 40px;
        }

        .section-title-sm {
            font-size: 45px;
            line-height: 1;
            margin-top: 120px;
            margin-bottom: 40px;
        }

        @media screen and (max-width: 700px) {
            .project-overview {
                grid-template-columns: 100%;
            }

            .section-title-sm {
                font-size: 38px;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .wrapper {
        padding: 120px 20px;

        .section-title {
            font-size: 65px;
            margin-bottom: 120px;
        }

        .experience-wrapper {
            margin-left: 0px;
            .experience {
                &::before {
                    display: none;
                }

                .title-wrapper {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 40px;
                    align-items: center;
                    position: relative;

                    &::before {
                        display: none;
                    }

                    img {
                        // height: 60px;
                    }

                    .title-timeframe-col {
                        .title {
                        }

                        .timeframe {
                            // font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}
