@import 'src/styles.scss';

.wrapper {
    max-width: 1200px;
    display: block;
    margin: auto;
    padding: 200px 20px;

    .section-title {
        font-size: 75px;
        font-weight: bold;
        margin-bottom: 120px;
    }

    .gallery-title {
        font-size: 45px;
        line-height: 1;
        margin-top: 120px;
        margin-bottom: 40px;
        text-align: center;
        font-weight: 500;
        @include no-drag;
        @include no-select;
    }

    .experience-wrapper {
        margin-left: 20px;
        .experience {
            position: relative;

            &::before {
                width: 5px;
                height: 120%;
                top: -10%;
                content: '';
                position: absolute;
                left: -20px;
                background: linear-gradient(white 0%, var(--nokia-color) 20%, var(--nokia-color) 80%, white 100%);
            }

            .title {
                font-size: 45px;
                font-weight: bold;
                line-height: 1;
                margin-bottom: 10px;
                position: relative;

                img {
                    @include no-drag;
                    height: 32px;
                }

                &::before {
                    position: absolute;
                    content: '';
                    left: -27px;
                    width: 20px;
                    height: 20px;
                    top: calc(50% - 7.5px);
                    border-radius: 50%;
                    background: var(--nokia-color);
                    box-shadow: var(--shadow-md);
                }
            }
            .timeframe {
                letter-spacing: 1px;
                font-size: 26px;
                margin-bottom: 40px;
                line-height: 1;
                opacity: 0.65;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 16px;
            }

            .description {
                font-size: 22px;

                .section {
                    margin-bottom: 1em;
                }
            }
        }
    }

    .projects {
        margin-bottom: 200px;

        .section-title-sm {
            font-size: 45px;
            line-height: 1;
            margin-top: 120px;
            margin-bottom: 40px;
            font-weight: 500;
        }

        .project-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 40px;
        }

        @media screen and (max-width: 700px) {
            .section-title-sm {
                font-size: 38px;
                text-align: center;
            }
            .project-wrapper {
                grid-template-columns: 100%;
                grid-gap: 40px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .wrapper {
        padding: 120px 20px;

        .section-title {
            font-size: 65px;
            margin-bottom: 120px;
        }

        .experience-wrapper {
            margin-left: 0px;
            .experience {
                &::before {
                    display: none;
                }
            }

            .title {
                &::before {
                    display: none;
                }
            }
        }
    }
}
